@page
@model IdentityServer.Pages.IndexModel
@{
}
<h3>Welcome to Identity Server</h3>

<div>
    <a href="claims">Claims</a>
</div>
<div>
  <a href="~/.well-known/openid-configuration">Configuration</a>
</div>